@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-info: #47a8ff;
  --color-info-foreground: #022248;

  --color-warning: #ff9300;
  --color-warning-foreground: #361900;

  --color-success: #00ca50;
  --color-success-foreground: #00320b;

  --radius: var(--border-radius);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-full: 999rem;

  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-geist-mono);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  :root {
    --background: oklch(0.973 0.0133 286.1503);
    --foreground: oklch(0.3015 0.0572 282.4176);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2686 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2686 0 0);
    --primary: oklch(0.5417 0.179 288.0332);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.9174 0.0435 292.6901);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.958 0.0133 286.1454);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9221 0.0373 262.141);
    --accent-foreground: oklch(0.4732 0.1247 46.2007);
    --destructive: oklch(0.6861 0.2061 14.9941);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9115 0.0216 285.9625);
    --input: oklch(0.9115 0.0216 285.9625);
    --ring: oklch(0.5417 0.179 288.0332);
    --chart-1: oklch(0.5854 0.2041 277.1173);
    --chart-2: oklch(0.5106 0.2301 276.9656);
    --chart-3: oklch(0.4568 0.2146 277.0229);
    --chart-4: oklch(0.3984 0.1773 277.3662);
    --chart-5: oklch(0.3588 0.1354 278.6973);
    --sidebar: oklch(95.802% 0.01344 286.031);
    --sidebarForeground: oklch(30.147% 0.05728 282.419);
    --sidebarPrimary: oklch(54.168% 0.17912 288.036);
    --sidebarPrimaryForeground: oklch(100% 0.00011 271.152);
    --sidebarAccent: oklch(92.214% 0.0374 262.174);
    --sidebarAccentForeground: oklch(30.147% 0.05728 282.419);
    --sidebarBorder: oklch(91.145% 0.02175 285.899);
    --sidebarRing: oklch(54.168% 0.17912 288.036);
    --radius: 0.375rem;
  }

  .dark {
    --background: oklch(0.2069 0.0403 263.9914);
    --foreground: oklch(0.9309 0.0269 285.8648);
    --card: oklch(0.3015 0.0572 282.4176);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2755 0.037 260.0225);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.5695 0.2038 292.4287);
    --primary-foreground: oklch(100% 0.00011 271.152);
    --secondary: oklch(0.4043 0.087 277.6045);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.3015 0.0572 282.4176);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.3767 0.0305 259.7354);
    --accent-foreground: oklch(93.09% 0.02705 285.814);
    --destructive: oklch(0.5016 0.1887 27.4816);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3755 0.0391 257.2866);
    --input: oklch(0.3755 0.0391 257.2866);
    --ring: oklch(0.5154 0.2147 320.8737);
    --chart-1: oklch(0.6801 0.1583 276.9349);
    --chart-2: oklch(0.5854 0.2041 277.1173);
    --chart-3: oklch(0.5106 0.2301 276.9656);
    --chart-4: oklch(0.4568 0.2146 277.0229);
    --chart-5: oklch(0.3984 0.1773 277.3662);
    --sidebar: oklch(23.574% 0.00241 67.461);
    --sidebarForeground: oklch(87.299% 0.06481 284.967);
    --sidebarPrimary: oklch(47.531% 0.18633 295.254);
    --sidebarPrimaryForeground: oklch(100% 0.00011 271.152);
    --sidebarAccent: oklch(43.141% 0.07862 282.604);
    --sidebarAccentForeground: oklch(90.67% 0.0001 271.152);
    --sidebarBorder: oklch(43.141% 0.07862 282.604);
    --sidebarRing: oklch(51.537% 0.2148 320.863);
    --radius: 0.375rem;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background font-display text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* react flow */
.react-flow__controls {
  background: hsl(var(--muted) / 0.3) !important; /* Dark background */
  color: white !important;
}

.react-flow__controls-button {
  background-color: hsl(
    var(--muted) / 0.3
  ) !important; /* Tailwind bg-gray-700 */
  color: white !important;
  margin: 0.25rem 0;
  border-bottom: 2px solid rgb(113, 112, 112) !important;
}

.animate-progress {
  animation: progress-slide 1.5s ease-in-out infinite alternate;
}

@keyframes progress-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

/* :root {
--background: hsl(240, 100.0000%, 98.0392%);
--foreground: hsl(240, 27.5862%, 22.7451%);
--card: hsl(0, 0%, 100%);
--cardForeground: hsl(240, 27.5862%, 22.7451%);
--popover: hsl(0, 0%, 100%);
--popoverForeground: hsl(240, 27.5862%, 22.7451%);
--primary: hsl(251.9008, 55.7604%, 57.4510%);
--primaryForeground: hsl(0, 0%, 100%);
--secondary: hsl(249.3750, 100%, 93.7255%);
--secondaryForeground: hsl(249.3750, 33.3333%, 37.6471%);
--muted: hsl(240, 50.0000%, 96.0784%);
--mutedForeground: hsl(240, 12.1951%, 48.2353%);
--accent: hsl(218.4615, 100.0000%, 92.3529%);
--accentForeground: hsl(240, 27.5862%, 22.7451%);
--destructive: hsl(350.1754, 100%, 66.4706%);
--destructiveForeground: hsl(0, 0%, 100%);
--border: hsl(240, 34.7826%, 90.9804%);
--input: hsl(240, 34.7826%, 90.9804%);
--ring: hsl(251.9008, 55.7604%, 57.4510%);
--sidebar: hsl(240, 50.0000%, 96.0784%);
--sidebarForeground: hsl(240, 27.5862%, 22.7451%);
--sidebarPrimary: hsl(251.9008, 55.7604%, 57.4510%);
--sidebarPrimaryForeground: hsl(0, 0%, 100%);
--sidebarAccent: hsl(218.4615, 100.0000%, 92.3529%);
--sidebarAccentForeground: hsl(240, 27.5862%, 22.7451%);
--sidebarBorder: hsl(240, 34.7826%, 90.9804%);
--sidebarRing: hsl(251.9008, 55.7604%, 57.4510%);
}

.dark {
--background: hsl(221, 50%, 11%);
--foreground: hsl(240, 66.67%, 94.12%);
--card: hsl(240, 27.59%, 22.75%);
--cardForeground: hsl(240, 100%, 97.06%);
--popover: hsl(217, 33%, 17%);
--popoverForeground: oklch(93.09% 0.02705 285.814);
--primary: hsl(258, 71%, 61%);
--primaryForeground: oklch(100% 0.00011 271.152);
--secondary: hsl(235, 31.49%, 35.49%);
--secondaryForeground: hsl(240, 34.78%, 90.98%);
--muted: hsl(240, 27.59%, 22.75%);
--mutedForeground: hsl(215, 20%, 65%);
--accent: hsl(217, 19%, 27%);
--accentForeground: hsl( 240, 66.67%, 94.12%);
--destructive: hsl(0, 73.46%, 41.37%);
--destructiveForeground: hsl(0, 0%, 100%);
--border: hsl(215, 25%, 27%);
--input: hsl(215, 25%, 27%);
--ring: hsl(291, 63.72%, 42.16%);
--sidebar: hsl(30, 3.3333%, 11.7647%);
--sidebarForeground: hsl(240, 100%, 90.78%);
--sidebarPrimary: hsl(262, 51.87%, 47.25%);
--sidebarPrimaryForeground: hsl(0, 0%, 100%);
--sidebarAccent: hsl(240, 24.49%, 38.43%);
--sidebarAccentForeground: hsl(0, 0%, 87.84%);
--sidebarBorder: hsl(240, 24.49%, 38.43%);
--sidebarRing: hsl(291, 63.72%, 42.16%);
} */
